/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

.montserrat{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.montserrat{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
* {
    font-family:"montserrat","bebas neue", sans-serif;
}
:root {
    --black:#0D0D0D;
    --grey:#F2F2F2;
    --dark-teal:#7ABFBF;
    --teal:rgba(122,191,191,.5);
    --orange:#EB5428;
}
html{
    background-color: teal;
}
body{
    width:414px;
    margin: 0 auto;
    background-color:var(--grey);
}
h1{
    font-family:"bebas neue";
    font-size: 40px;
    text-align: center;
}
h2{
    font-family:"bebas neue";
    font-size: 30px;
    text-align:center;
    margin: 15px 10px;
}
h3{
    font-family:"bebas neue";
    font-size: 25px;
}
nav a{
    font-family:"bebas neue";
    font-size:20px;
}
nav span{
    font-family:"bebas neue";
    font-size:20px;
}
menu li, #social li, footer{
    font-family:"bebas neue";
    font-size:20px;
}
p, dd, li, nav, input{
    font-family:"montserrat";
    font-size:16px;
    font-weight: 400;
}
dt{
    font-family:"montserrat";
    font-size:16px;
    font-weight:bold;
}
#menu{
    display:inline;
    position:relative;
    align-items:center;
    margin:auto;
}
#menu svg{
    display:inline-block;
    position:relative;
    margin-bottom:30px;
    margin-top: 20px;
}
#menu li{
    list-style-type: none;  
    position:relative;
    float:left;
    text-align: center;
    line-height: 1;
}
#tacos img{
    width:100%;
}
#tacos p{
    margin: 15px 10px;
}
#details table {
    display:table;
    table-layout: fixed;
    width: 200px;
    text-align:left;
    margin-left:10px;
    font-family: "montserrat";
}
#details table th:first-child{
    font-weight:bold;
}
#ingredients ul{
    margin: 15px 30px;
}
#ingredients li{
    padding-top: 5px;
    list-style-type: square;
}
#directions ol{
    margin: 15px 30px;
}
#directions li{
    padding-top: 20px;
}
#sides{
    background-color:var(--dark-teal);
    display:inline-block;
    width: 414px;
}
#sides img{
    width: 20%;
}
#sides h3{
    display:inline-block;
    position:absolute;
    margin-left:100px;
}
#sides p{
    display:inline-block;
    position:absolute;
    margin-left:15px;
    padding-top:30px;
}
#sides svg{
    display:inline-block;
    margin-top:20px;
    padding-left: 10px;
}
#nav h2{
    text-indent: 100%;
    white-space: nowrap;
    overflow:hidden;
    font-family:"bebas-neue";
}
#nav img{
    width: 50px;
    position:relative;
    display:inline-block;
}
#nav li{
    list-style-type: none;
    color:var(--orange);
}
#social{
    margin:auto;
    display:inline-block;
    justify-content: space-between;
    width: 414px;
}
.social{
    display:inline-block;
    position:relative;
    overflow-x:nowrap;
    text-align: center;
    margin: auto;
    justify-content: space-between;
    width: 20%;
}
#copyright h4{
    text-align:center;
    position:relative;
}
#copyright img{
    display:block;
    margin:auto;
    width: 50%;
    padding-bottom: 10px;
}

@media screen and (min-width:414px){
    .nav-items{
        display:none;
    }
}
@media screen and (min-width:768px){
    body{
        width:768px;
    }
    .nav-items{
        display:flex;
        position: absolute;
        top: 50px;
        text-align: center;
        justify-content: space-between;
        margin:auto;
    }

    h1{
        position:relative;
        display:block;
        margin:auto;
        text-align: left;
    }
    #menu{
        position:relative;
        display:inline-block;
        margin:auto;
        margin-top: 70px;
    }
    #tacos {
        position:relative;
        display:inline-block;
        margin:auto;
        margin-top: 100px;
    }
    #sides{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    #sides h2{
        position:relative;
        margin:auto;
        display:block;
        text-align: center;    
    }
}


@media screen and (min-width:1280px){
    body{
        width:1280px;
    }
}